# Build results

debug/
release/
x64/
build*/
bin*/
obj*/

*.ilk
*.exe
*.lib
*.o
*.pdb
*.user*
*.so*
CMakeLists.txt.*

#Temp files
*~
*.bak
*.tmp

# Platform dependent project files
project*


#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
